.eunit
deps
*.o
*.beam
*.plt
*.log
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
*.project
*.cfg



**/.idea/workspace.xml 
**/.idea/tasks.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/dictionaries/*
**/*.iml
**/*.ipr